{% extends "base.html" %} {% block apps %} {% include "person/navbar.html" %}
<div class="container-fluid">
  <div class="card border-primary">
    <div class="card-header text-center text-bg-primary">
      <div class="h5">New Person</div>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mb-3">
          <div class="col">
            <label for="nama" class="form-label"
              >Nama <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="nama"
              name="nama"
              required
            />
          </div>
          <div class="col">
            <label for="ktp" class="form-label"
              >No. KTP <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="ktp"
              name="ktp"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="alamat" class="form-label">Alamat</label>
            <textarea
              class="form-control"
              id="alamat"
              name="alamat"
              rows="5"
            ></textarea>
          </div>
          <div class="col">
            <label for="foto" class="form-label"
              >Foto <span class="text-danger">*</span></label
            >
            <input class="form-control" type="file" id="foto" name="foto" />
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </div>
        </div>
      </form>
      <div class="mb-3">
        <div class="mb-2 row row-cols-auto">
          <div class="col pt-1">
            <span class="h5">Pendidikan</span>
          </div>
        </div>
        <div class="table-responsive-xxl">
          <table class="table">
            <thead class="table-primary">
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" style="min-width: 250px">
                  Nama Sekolah / Universitas
                </th>
                <th scope="col" style="min-width: 250px">Jurusan</th>
                <th scope="col" style="min-width: 150px">Tahun Masuk</th>
                <th scope="col" style="min-width: 150px">Tahun Lulus</th>
                <th scope="col" class="text-center" style="width: 0px">
                  Action
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="mb-3">
        <div class="mb-2 row row-cols-auto">
          <div class="col pt-1">
            <span class="h5">Pengalaman Kerja</span>
          </div>
        </div>
        <div class="table-responsive-xxl">
          <table class="table">
            <thead class="table-primary">
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" style="min-width: 250px">Perusahaan</th>
                <th scope="col" style="min-width: 250px">Jabatan</th>
                <th scope="col" style="min-width: 150px">Tahun</th>
                <th scope="col" style="min-width: 150px">Keterangan</th>
                <th scope="col" class="text-center" style="width: 0px">
                  Action
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Tambah Pendidikan -->
<div
  class="modal fade"
  id="modalTambahPendidikan"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <div class="h1 modal-title fs-5 text-white" id="exampleModalLabel">
          Pendidikan
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="" method="post">
        <div class="modal-body">
          {% csrf_token %}
          <div class="mb-3">
            <label for="sekolah" class="form-label"
              >Nama Sekolah / Universitas
              <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="sekolah"
              name="sekolah"
              required
            />
          </div>
          <div class="mb-3">
            <label for="jurusan" class="form-label"
              >Jurusan <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="jurusan"
              name="jurusan"
              required
            />
          </div>
          <div class="mb-3">
            <label for="tahun_masuk" class="form-label"
              >Tahun Masuk <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="tahun_masuk"
              name="tahun_masuk"
              required
            />
          </div>
          <div class="mb-3">
            <label for="tahun_lulus" class="form-label"
              >Tahun Lulus <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="tahun_lulus"
              name="tahun_lulus"
              required
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            name="submit_pendidikan"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Tambah pengalaman kerja -->
<div
  class="modal fade"
  id="modalTambahPengalamanKerja"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <div class="h1 modal-title fs-5 text-white" id="exampleModalLabel">
          Pengalaman Kerja
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="" method="post">
        <div class="modal-body">
          {% csrf_token %}
          <div class="mb-3">
            <label for="perusahaan" class="form-label"
              >Perusahaan <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="perusahaan"
              name="perusahaan"
              required
            />
          </div>
          <div class="mb-3">
            <label for="jabatan" class="form-label"
              >Jabatan <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="jabatan"
              name="jabatan"
              required
            />
          </div>
          <div class="mb-3">
            <label for="tahun" class="form-label"
              >Tahun <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="tahun"
              name="tahun"
              required
            />
          </div>
          <div class="mb-3">
            <label for="keterangan" class="form-label">Keterangan</label>
            <textarea
              class="form-control"
              id="keterangan"
              name="keterangan"
              rows="5"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock apps %}
