{% extends "base.html" %} {% block apps %} {% include "person/navbar.html" %}
<div class="container-fluid">
  <a
    href="{% url 'person:add' %}"
    class="btn btn-primary mb-3"
    title="Tambah Person"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-plus-square-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
      />
    </svg>
  </a>
  <div class="table-responsive-xxl">
    <table class="table">
      <thead class="table-primary">
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col">Nomer KTP</th>
          <th scope="col">Nama</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for i in data %}
        <tr>
          <th scope="row" class="text-center">{{forloop.counter}}</th>
          <td style="min-width: 250px">{{i.ktp}}</td>
          <td style="min-width: 250px">{{i.nama}}</td>
          <td class="text-center" style="width: 0px">
            <a
              href="{% url 'person:detail' i.id %}"
              class="btn btn-primary"
              title="Detail"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-eye-fill"
                viewBox="0 0 16 16"
              >
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                <path
                  d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
                />
              </svg>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock apps %}
